.Contactus-banner {
  background-image: url("../Assets/Contactimg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}
.Contact-header {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 0.07em;
}