.Footer-container {
  background: #16171b;
  color: white;
  padding: 2em 2em 0em 2em;
}
.Footer-topsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 1em 3em 1em;
}
.Footer-email {
  width: fit-content;
  h1 {
    font-size: 1.8em;
    font-weight: 500;
  }
}
.Footer-email-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 0.75em;
    color: white;
    padding: 1em;
  }
  button {
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 2em;
    border: none;
  }
}
.Footer-links {
  display: flex;
  justify-content: space-around;
  color: #3e3f42;
}
.Footer-links-sub {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  a {
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
  }
}
.Footer-bottomsection {
  display: grid;
  grid-template-columns: 4fr 3fr;

  border-top: 1px solid rgb(65, 65, 65);
  padding: 1em 0em;
}
.Footer-bottomsection-terms {
  display: flex;
  justify-content: start;
  gap: 1em;
  font-size: 0.8em;
  color: #434344;
  a {
    color: white;
    text-decoration: none;
  }
}
.Footer-bottomsection-social {
  display: flex;
  justify-content: end;
  gap: 1em;
  
}
.social-icons {
  width: 1.5em;
  height: 1.5em;
  color: gray;
}
@media (max-width: 768px) {
  .Footer-topsection {
    display: block;
    align-items: center;
  }
  .Footer-email-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
  }
  .Footer-email {
    margin: auto;
  }
  .Footer-links {
    margin-top: 2em;
  }
  .Footer-links-sub {
    h3 {
      font-size: 0.8em;
      margin-bottom: 1em;
    }
    a {
      font-size: 0.8em;
      color: #ffffff;
    }
  }
  .Footer-bottomsection {
    display: grid;
    grid-template-columns: 5fr 2fr;
    border-top: 1px solid rgb(65, 65, 65);
    padding: 1em 0em;
  }
  .Footer-bottomsection-terms {
    font-size: 0.6em;
    color: #434344;
    a {
      color: white;
    }
  }
  .social-icons {
    width: 1.1em;
    height: 1.1em;
    color: gray;
  }
}
