.Professional-banner {
  display: flex;
  height: 100vh;
  width: 100%;
  color: white;
  background-image: url("../Assets/CreatorsBannerBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Professional-banner-left {
  box-sizing: border-box;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding-left: 3em;
  padding-right: 3em;
  animation: text-popup 1s ease-out forwards;
  h1 {
    font-size: 4em;
    font-weight: 500;
    text-align: start;
  }
  p {
    font-size: 1.5em;
  }
}
.Professional-banner-right {
  box-sizing: border-box;
  width: 50%;
  height: 90%;
  display: flex;
  align-items: self-end;

  justify-content: space-around;
}
.Professional-banner-right-img {
  height: 80%;
  width: 50%;
  border-radius: 1.5em;
  border: 2px solid gray;
  overflow: hidden;
  align-items: center;
  animation: img-popup 1s ease-out forwards;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.Register-btn {
  padding: 1em 2em;
  width: fit-content;
  border: none;
  border-radius: 2em;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    border: 1px solid gray;
    transform: scale(1.1);
  }
}
@keyframes img-popup {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text-popup {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 1280px) {
  .Professional-banner-left {
    padding-left: 2em;
    padding-right: 2em;
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.25em;
    }
  }
}
@media (max-width: 1025px) {
  .Professional-banner-left {
    width: 75%;
    h1 {
      font-size: 2.7em;
    }
    p {
      font-size: 1.2em;
    }
  }
  .Professional-banner-right {
    box-sizing: border-box;
    width: 40%;
  }
  .Professional-banner-right-img {
    height: 76%;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .Professional-banner {
    padding-top: 5em;
    flex-direction: column;
    height: auto;
  }
  .Professional-banner-left {
    gap: 1em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    align-items:center;
    h1 {
      font-size: 2.25em;
      text-align: center;
    }
    p {
      width: 70%;
      font-size: 1.25em;
      text-align: center;

    }
  }
  .Professional-banner-right {
    width: 100%;
    align-items: center;
    height: 40em;
  }
}
